@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
    padding: 0;
    overflow-x: hidden;
    font-family: "Verdana";
}

.bg {
    background-image: url("skyscraperslight.png");
    height: 100%;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
.flash-message {
    margin-top: 20px;
}

.arrow-down:after,.arrow-up:after,.arrow-dormant:after{
 content: ' ';
 position: relative;
 left: 2px;
 border: 8px solid transparent;
}

.arrow-down:after{
 top: 10px;
 border-top-color: black;
}

.arrow-up:after{
 bottom: 15px;
 border-bottom-color: black;
}

.arrow-dormant:after{
 bottom: 15px;
 border-bottom-color: gray;
}

.arrow-down,.arrow-up,.arrow-dormant{
 padding-right: 10px;
}

.cutOverflow{
    word-break: break-all;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.avatar-circle {
	width: 30px;
	height: 30px;
    text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.initials {
	position: relative;
	top: 5px; /* 25% of parent */
	font-size: 15px; /* 50% of parent */
	line-height: 15px; /* 50% of parent */
	color: #fff;
	font-family: "Trebuchet MS", monospace;
	font-weight: bold;
}

.avatar-circle-big {
	width: 200px;
	height: 200px;
    text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.initials-big {
	position: relative;
	top: 45px; /* 25% of parent */
	font-size: 105px; /* 50% of parent */
	line-height: 105px; /* 50% of parent */
	color: #fff;
	font-family: "Trebuchet MS", monospace;
	font-weight: bold;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

.a50px {
	height: 50px;
}

p:hover {
    background-color: #f8f8f8 !important;
    
}

.okSakin {
	height: 100vh;
}

/* #content, .container-fluid, .span9
{
    border: 1px solid #000;
    overflow-y:auto;
    height:100%;
} */

.avatar-image {
	object-fit: cover;
	width: 30px;
	height: 30px;
    text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.avatar-image-big {
	object-fit: cover;
	width: 200px;
	height: 200px;
    text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

#profilepicture {
    margin: auto;
    padding: 10px;
    position: relative;
}

#parentProfileDiv {
	text-align:center;
}

#imgFileModal {
	margin: 20px;
}

.accountSettingsAdmin {
	width:100%; 
	margin-left: auto; 
	margin-right: auto;
}

.accountSettingsUser {
	width:70%; 
	margin-left: auto; 
	margin-right: auto;
}

table {
    table-layout: fixed;
}
/* Style page content */
.main {
	/*margin-left: 160px; /* Same as the width of the sidebar */
	width:80%;
	padding-top: 75px;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* turning input boxes beige */	
/* made by glenn */
.deal-form-control .form-control {
    background-color: #f8fcc7;
}

.panel-heading {
	background: rgba(112, 129, 158, 0.8);
	padding: 3px 5px;
    color: white;
}

.profile-heading {
	padding-left: 20px;
}

.navCategory{
	color: #48636b;
	font-weight: bold;
    padding-left: 15px;
}

.sidenav hr {
	border-top: dotted 1px #aaaaaa;
}

.dealsCollapsible {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* slide nav */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #c2d1e8; /* light blue */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #0c0f14;
    display: block;
    transition: 0.1s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #edefef;
    text-shadow: 2px 2px 5px black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

a svg{
  transition:all .5s ease;
 
  &:hover{
    #transform:rotate(180deg);
  }
}
 
#ico{
  display: none;
}

.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
 
  #transition: all 0.5s ease;
 
  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
 
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
 
    &:hover{
      background: #555;
    }
  }
}

.logo {
    float: right;
    padding-right: 10px;
    height: 60px;
}
/* end */