Edit Client
<form name="try">
   
    <label>Company Name(short):</label>
    <input type="text" name="short" ng-model="EditClient.cmpnyNameShort"><br>
    <label>Company Name(full):</label>
    <input type="text" name="full" ng-model="EditClient.cmpnyNameLong"><br>
    <label>Country:</label>
    <input type="text" name="country" ng-model="EditClient.country"><br>
    <label>Contact Person:</label>
    <input type="text" name="contactPerson" ng-model="EditClient.contactPerson"><br>
    <label>Contact Number:</label>
    <input type="text" name="contactNumber" ng-model="EditClient.contactNumber"><br>
    <button type="submit" class="btn btn-primary" ng-click="saveClient()">Save</button>
   
</form>
