
<div>
    <button class="btn btn-primary" ui-sref="newClient">New Client</button>
</div>
        
<div class="form-inline pull-right">
    <!-- <label>Filter by: &nbsp;</label>
    <select class="form-control" ng-model="filter" ng-selected="console()">
        <option ng-repeat="option in filterOptions">{{option}}</option>
    </select> -->
    <label>Search: &nbsp;</label>
    <input type="text" class="form-control" ng-model="searchText">
</div>
<table class="table">
    <thead>
        <th></th>
        <th>Client Name</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Client Name</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Client Name</th>
        <th>Company</th>
        <th>Contact</th>
    </thead>
    <tbody>
        <tr>
           
        </tr>
    </tbody>
</table>