<div>
    <button class="btn btn-primary">New Deal</button>
</div>

<div class="form-inline pull-right">
    <label>Filter by: &nbsp;</label>
    <select class="form-control" ng-model="filter" ng-selected="console()">
        <option ng-repeat="option in filterOptions">{{option}}</option>
    </select>
    <label>Search: &nbsp;</label>
    <input type="text" class="form-control" ng-model="searchText">
</div>
<table class="table">
    <thead>
        <th>Client Name</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Client Name</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Client Name</th>
        <th>Company</th>
        <th>Contact</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>Sir Bert</td>
            <td>AWS</td>
            <td>0999999999</td>
            <td>Sir Bert</td>
            <td>AWS</td>
            <td>0999999999</td>
            <td>Sir Bert</td>
            <td>AWS</td>
            <td>0999999999</td>
            <td>
                <a class="fa fa-list-alt" data-toggle="tooltip" title="View"></a>
                |
                <a class="fa fa-trash" data-toggle="tooltip" title="Delete"></a>
            </td>
        </tr>
    </tbody>
</table>