<form name="try">
   
    <label>Company Name(short):</label>
    <input type="text" name="short" ng-model="clientForm.cmpnyNameShort"><br>
    <label>Company Name(full):</label>
    <input type="text" name="full" ng-model="clientForm.cmpnyNameLong"><br>
    <label>Country:</label>
    <input type="text" name="country" ng-model="clientForm.country"><br>
    <label>Contact Person:</label>
    <input type="text" name="contactPerson" ng-model="clientForm.contactPerson"><br>
    <label>Contact Number:</label>
    <input type="text" name="contactNumber" ng-model="clientForm.contactNumber"><br>
    <button type="submit" class="btn btn-primary" ng-click="addClient()">Submit</button>
   
</form>
