<i ng-bind="message">
</i>
<form class='deal-form-control' ng-submit="submit()">
    <div class="row">
        <div class="col-md-6">
            <div ng-repeat="field in fields.essential" class="form-inline">
                <label>{{field.name}}</label>
                <span style="color:red" ng-if="field.required">*</span>
                <input type="{{field.type}}" class="form-control pull-right" ng-model="dealForm.essential[field.name]" ng-required="{{field.required}}">
                <br/>
                <br/>
            </div>
        </div>
        <div class="col-md-2 pull-right">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <!--<div class="container">
          <div data-toggle="collapse" data-target="#demo">Simple collapsible</div>
          <div id="demo" class="collapse in">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>-->
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#profileSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Profile</h4>
            </div>
            <div id="profileSection" class="collapse">
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Country</label>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Country']">
                                        <option ng-repeat="option in getField('profile', 'Country').options">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Client</label>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Client']">
                                        <option>Get from Client List</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Service</label>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Service']">
                                        <option ng-repeat="option in getField('profile', 'Service').options">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Type</label>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Type']">
                                        <option ng-repeat="option in getField('profile', 'Type').options">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Resource</label>
                                    <div class="pull-right">
                                        <input type="number" min="0" class="form-control" ng-model="dealForm.profile['Resource Size (MM)']"> (MM)
                                        <br/> /
                                        <br/>
                                        <input type="number" min="0" class="form-control" ng-model="dealForm.profile['Resource Size (FTE)']"> (FTE)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Duration (Start)</label>
                                    <input type="date" class="form-control pull-right" ng-model="dealForm.profile['Duration (Start)']">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AWS Resp (Sales)</label>
                                    <div class="pull-right">
                                        <select class="form-control pull-right" ng-model="dealForm.profile['AWS Resp (Sales) person']">
                                            <option>Get from Sales persons list</option>
                                        </select>
                                        <br/> /
                                        <br/>
                                        <select class="form-control pull-right" ng-model="dealForm.profile['AWS Resp (Sales) BU']">
                                            <option>Get from Sales persons's BU list ???</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Key Assignment</label>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.profile['Key Assignment']">
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.profile track by field.id">
                                <td ng-if="$even && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.profile[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.profile[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.profile[field.name]" ng-required="{{field.required}}">
                                            <option value="" ng-if="!field.required"></option>
                                            <option ng-repeat="option in field.options">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Division</label>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Division']">
                                        <option ng-repeat="option in getField('profile', 'Division').options">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Client Resp</label>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.profile['Client Resp']">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Level / Step</label>
                                    <div class="pull-right">
                                        <select class="form-control" ng-model="dealForm.profile['Level']">
                                            <option ng-repeat="option in getField('profile', 'Level').options">{{option}}</option>
                                        </select>
                                        /
                                        <select class="form-control" ng-model="dealForm.profile['Step']">
                                            <option ng-repeat="option in getField('profile', 'Step').options | filter: (dealForm.profile['Level'] + '.')">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Confidence</label>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Confidence']">
                                        <option ng-repeat="option in getField('profile', 'Confidence').options">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Revenue</label>
                                    <div class="pull-right">
                                        <input type="number" min="0" class="form-control" ng-model="dealForm.profile['Revenue']"> (JPY)
                                    </div>
                                    <br/>
                                    <br/>
                                    <label>CM</label>
                                    <div class="pull-right">
                                        <input type="number" min="0" class="form-control" ng-model="dealForm.profile['CM']"> (JPY)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Duration (End)</label>
                                    <input type="date" class="form-control pull-right" ng-model="dealForm.profile['Duration (End)']">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AWS Resp (Dev)</label>
                                    <div class="pull-right">
                                        <select class="form-control pull-right" ng-model="dealForm.profile['AWS Resp (Dev) person']">
                                            <option>Get from Dev persons list</option>
                                        </select>
                                        <br/> /
                                        <br/>
                                        <select class="form-control pull-right" ng-model="dealForm.profile['AWS Resp (Dev) BU']">
                                            <option>Get from Dev persons's BU list ???</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Remark</label>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.profile['Remark']">
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.profile track by field.id">
                                <td ng-if="$odd && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.profile[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.profile[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.profile[field.name]" ng-required="{{field.required}}">
                                            <option value="" ng-if="!field.required"></option>
                                            <option ng-repeat="option in field.options">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#processSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Process</h4>
            </div>
            <div id="processSection" class="collapse">
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <!-- blank row for matching the format -->
                                    <p></p>
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SRB No. (e.g. PS-0095)</label>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.process['SRB No']">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SRB Date</label>
                                    <input type="date" class="form-control pull-right" ng-model="dealForm.process['SRB Date']">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SRB Status</label>
                                    <select class="form-control pull-right" ng-model="dealForm.process['SRB Status']">
                                        <option ng-repeat="option in getField('process', 'SRB Status').options">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.process track by field.id">
                                <td ng-if="$even && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.process[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.process[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.process[field.name]" ng-required="{{field.required}}">
                                            <option value="" ng-if="!field.required"></option>
                                            <option ng-repeat="option in field.options">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>SOW Scheme</label>
                                    <select class="form-control pull-right" ng-model="dealForm.process['SOW Scheme']">
                                        <option ng-repeat="option in getField('process', 'SOW Scheme').options">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SOW No. (e.g. AWS-2013-2575)</label>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.process['SOW No']">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SOW Date</label>
                                    <input type="date" class="form-control pull-right" ng-model="dealForm.process['SOW Date']">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SOW Status</label>
                                    <select class="form-control pull-right" ng-model="dealForm.process['SOW Status']">
                                        <option ng-repeat="option in getField('process', 'SOW Status').options">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.process track by field.id">
                                <td ng-if="$odd && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.process[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.process[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.process[field.name]" ng-required="{{field.required}}">
                                            <option value="" ng-if="!field.required"></option>
                                            <option ng-repeat="option in field.options">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#distributionSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Distribution</h4>
            </div>
            <div id="distributionSection" class="collapse">
                <div>
                    <div class="col-md-3">
                        <label>Input Starting Month:</label>
                        <input type="month" class="form-control" ng-model="startingMonthYear" ng-change="getCurrentFiscalYear()" />
                    </div>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <th>
                                <b>MONTH</b>
                            </th>
                            <th></th>
                            <th ng-repeat="monthYear in currentFiscalYear.slice(0, 6)">
                                {{monthYear}}
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Resource (MM):</b>
                                </td>
                                <td>
                                    <b>JP</b>
                                    <br/>
                                    <br/>
                                    <b>GD</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(0, 6)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.res.jp[monthYear]" />
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.res.gd[monthYear]" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Revenue (JPY):</b>
                                </td>
                                <td>
                                    <b>JP</b>
                                    <br/>
                                    <br/>
                                    <b>GD</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(0, 6)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.rev.jp[monthYear]" />
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.rev.gd[monthYear]" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>CM (JPY):</b>
                                </td>
                                <td>
                                    <b>ALL</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(0, 6)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.cm[monthYear]" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <th>MONTH</th>
                            <th></th>
                            <th ng-repeat="monthYear in currentFiscalYear.slice(6, 12)">
                                {{monthYear}}
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Resource (MM):</b>
                                </td>
                                <td>
                                    <b>JP</b>
                                    <br/>
                                    <br/>
                                    <b>GD</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(6, 12)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.res.jp[monthYear]" />
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.res.gd[monthYear]" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Revenue (JPY):</b>
                                </td>
                                <td>
                                    <b>JP</b>
                                    <br/>
                                    <br/>
                                    <b>GD</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(6, 12)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.rev.jp[monthYear]" />
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.rev.gd[monthYear]" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>CM (JPY):</b>
                                </td>
                                <td>
                                    <b>ALL</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(6, 12)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution.cm[monthYear]" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <table class="table table-striped table-condensed table-hover">
                                <tr>
                                    <th>Total</th>
                                    <td>{{totalRES}} (MM)</td>
                                    <td>{{totalREV}} (JPY)</td>
                                </tr>
                                <tr>
                                    <th>Average</th>
                                    <td></td>
                                    <td>{{totalREV / totalRES}} (JPY/MM)</td>
                                </tr>
                                <tr>
                                    <th>CM</th>
                                    <td>(JPY)</td>
                                    <td>(%)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-6 form-inline">
                            <table class="table table-hover">
                                <tbody>
                                    <tr ng-repeat="field in fields.distribution track by field.id">
                                        <td ng-if="$even">
                                            <label for="{{field.name}}"> {{field.name}} </label>
                                            <span style="color:red" ng-if="field.required">*</span>
                                            <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                                class="pull-right">
                                                <input type="{{field.type}}" class="form-control" ng-model="dealForm.distribution[field.name]" ng-required="{{field.required}}"
                                                />
                                            </div>
                                            <div ng-if="field.type === 'textarea'" class="pull-right">
                                                <!-- show text area -->
                                                <textarea ng-model="dealForm.distribution[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                            </div>
                                            <div ng-if="field.type ==='dropdown'" class="pull-right">
                                                <!-- show dropdown -->
                                                <select class="form-control" ng-model="dealForm.distribution[field.name]" ng-required="{{field.required}}">
                                                    <option value="" ng-if="!field.required"></option>
                                                    <option ng-repeat="option in field.options">{{option}}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 form-inline">
                            <table class="table table-hover">
                                <tbody>
                                    <tr ng-repeat="field in fields.distribution track by field.id">
                                        <td ng-if="$odd">
                                            <label for="{{field.name}}"> {{field.name}} </label>
                                            <span style="color:red" ng-if="field.required">*</span>
                                            <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                                class="pull-right">
                                                <input type="{{field.type}}" class="form-control" ng-model="dealForm.distribution[field.name]" ng-required="{{field.required}}"
                                                />
                                            </div>
                                            <div ng-if="field.type === 'textarea'" class="pull-right">
                                                <!-- show text area -->
                                                <textarea ng-model="dealForm.distribution[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                            </div>
                                            <div ng-if="field.type ==='dropdown'" class="pull-right">
                                                <!-- show dropdown -->
                                                <select class="form-control" ng-model="dealForm.distribution[field.name]" ng-required="{{field.required}}">
                                                    <option value="" ng-if="!field.required"></option>
                                                    <option ng-repeat="option in field.options">{{option}}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#statusSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Status</h4>
            </div>
            <div id="statusSection" class="collapse">
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Dependency</label>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.status['Dependency']">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Action</label>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.status['Action']">
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.status track by field.id">
                                <td ng-if="$even && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.status[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.status[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.status[field.name]" ng-required="{{field.required}}">
                                            <option value="" ng-if="!field.required"></option>
                                            <option ng-repeat="option in field.options">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Status</label>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.status['Status']">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Step to Close</label>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.status['Step to Close']">
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.status track by field.id">
                                <td ng-if="$odd && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.status[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.status[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.status[field.name]" ng-required="{{field.required}}">
                                            <option value="" ng-if="!field.required"></option>
                                            <option ng-repeat="option in field.options">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <small>
                    <b>Note:</b> 1. If deal is via AWS JP, specify the amount of SOW with AWS JP. If it's a direct deal with
                    client, specify the amount of SOW with client exclusive of T&L (to measure the PH revenue and profit)
                </small>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#contentSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Content</h4>
            </div>
            <div id="contentSection" class="collapse">
                <textarea class="form-control" ng-model="dealForm.content['Main Message']"></textarea>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="field in fields.content track by field.id">
                                <td ng-if="$even">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.content[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.content[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.content[field.name]" ng-required="{{field.required}}">
                                            <option value="" ng-if="!field.required"></option>
                                            <option ng-repeat="option in field.options">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="field in fields.content track by field.id">
                                <td ng-if="$odd">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.content[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.content[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.content[field.name]" ng-required="{{field.required}}">
                                            <option value="" ng-if="!field.required"></option>
                                            <option ng-repeat="option in field.options">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</form>

<script>
    $('.collapse').on('shown.bs.collapse', function () {
        $(this).parent().find(".glyphicon-chevron-right").removeClass("glyphicon-chevron-right").addClass("glyphicon-chevron-down");
    }).on('hidden.bs.collapse', function () {
        $(this).parent().find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-right");
    });
</script>