<i ng-bind="message">
</i>
<form class='deal-form-control' ng-submit="submit()">
    <div class="row">
        <div class="col-md-6">
            <div ng-repeat="field in fields.essential" class="form-inline" ng-if="field.name !== 'ID'">
                <label>{{field.name}}</label>
                <span style="color:red" ng-if="field.required">*</span>
                <input type="{{field.type}}" class="form-control pull-right" ng-model="dealForm.essential[field.name]" ng-required="{{field.required}}">
                <br/>
                <br/>
            </div>
        </div>
        <div class="col-md-2 pull-right">
            <button type="submit" class="btn btn-primary" ng-click='validateBlankInputs()'>Submit</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <!--<div class="container">
          <div data-toggle="collapse" data-target="#demo">Simple collapsible</div>
          <div id="demo" class="collapse in">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>-->
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#profileSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Profile</h4>
            </div>
            <div id="profileSection" class="collapse">
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Country</label>
                                    <span style="color:red" ng-if="getField('profile', 'Country').required">*</span>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Country']" ng-required="getField('profile', 'Country').required">
                                        <option value=""></option>
                                        <option ng-repeat="option in getField('profile', 'Country').options" value="{{option}}">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Client</label>
                                    <span style="color:red" ng-if="getField('profile', 'Client').required">*</span>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Client']" ng-required="getField('profile', 'Client').required">
                                        <option value=""></option>
                                        <option>Get from Client List</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Service</label>
                                    <span style="color:red" ng-if="getField('profile', 'Service').required">*</span>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Service']" ng-required="getField('profile', 'Service').required">
                                        <option value=""></option>
                                        <option ng-repeat="option in getField('profile', 'Service').options" value="{{option}}">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Type</label>
                                    <span style="color:red" ng-if="getField('profile', 'Type').required">*</span>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Type']" ng-required="getField('profile', 'Type').required">
                                        <option value=""></option>
                                        <option ng-repeat="option in getField('profile', 'Type').options" value="{{option}}">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Resource</label>
                                    <span style="color:red" ng-if="getField('profile', 'Type').required">*</span>
                                    <div class="pull-right">
                                        <input type="number" min="0" class="form-control" ng-model="dealForm.profile['Resource Size (MM)']" ng-required="getField('profile', 'Resource Size (MM)').required"> (MM)
                                        <br/> /
                                        <br/>
                                        <input type="number" min="0" class="form-control" ng-model="dealForm.profile['Resource Size (FTE)']" ng-required="getField('profile', 'Resource Size (FTE)').required"> (FTE)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Duration (Start)</label>
                                    <span style="color:red" ng-if="getField('profile', 'Duration (Start)').required">*</span>
                                    <input type="date" class="form-control pull-right" ng-model="dealForm.profile['Duration (Start)']" ng-required="getField('profile', 'Duration (Start)').required">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AWS Resp (Sales)</label>
                                    <span style="color:red" ng-if="getField('profile', 'AWS Resp (Sales) person').required">*</span>
                                    <div class="pull-right">
                                        <select class="form-control pull-right" ng-model="dealForm.profile['AWS Resp (Sales) person']" ng-required="getField('profile', 'AWS Resp (Sales) person').required">
                                            <option value=""></option>
                                            <option>Get from Sales persons list</option>
                                        </select>
                                        <br/> /
                                        <br/>
                                        <select class="form-control pull-right" ng-model="dealForm.profile['AWS Resp (Sales) BU']" ng-required="getField('profile', 'AWS Resp (Sales) BU').required">
                                            <option value=""></option>
                                            <option>Get from Sales persons's BU list ???</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Key Assignment</label>
                                    <span style="color:red" ng-if="getField('profile', 'Key Assignment').required">*</span>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.profile['Key Assignment']" ng-required="getField('profile', 'Key Assignment').required">
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.profile track by field.id">
                                <td ng-if="$even && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.profile[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.profile[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.profile[field.name]" ng-required="{{field.required}}">
                                            <option value=""></option>
                                            <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Division</label>
                                    <span style="color:red" ng-if="getField('profile', 'Division').required">*</span>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Division']" ng-required="getField('profile', 'Division').required">
                                        <option value=""></option>
                                        <option ng-repeat="option in getField('profile', 'Division').options" value="{{option}}">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Client Resp</label>
                                    <span style="color:red" ng-if="getField('profile', 'Client Resp').required">*</span>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.profile['Client Resp']" ng-required="getField('profile', 'Client Resp').required">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Level / Step</label>
                                    <span style="color:red" ng-if="getField('profile', 'Level').required">*</span>
                                    <div class="pull-right">
                                        <select class="form-control" ng-model="dealForm.profile['Level']" ng-required="getField('profile', 'Level').required">
                                            <option value=""></option>
                                            <option ng-repeat="option in getField('profile', 'Level').options" value="{{option}}">{{option}}</option>
                                        </select>
                                        /
                                        <select class="form-control" ng-model="dealForm.profile['Step']" ng-required="getField('profile', 'Step').required">
                                            <option value=""></option>
                                            <option ng-repeat="option in getField('profile', 'Step').options | 
                                            filter: (dealForm.profile['Level'] + '.')" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Confidence</label>
                                    <span style="color:red" ng-if="getField('profile', 'Confidence').required">*</span>
                                    <select class="form-control pull-right" ng-model="dealForm.profile['Confidence']" ng-required="getField('profile', 'Confidence').required">
                                        <option value=""></option>
                                        <option ng-repeat="option in getField('profile', 'Confidence').options" value="{{option}}">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Revenue</label>
                                    <span style="color:red" ng-if="getField('profile', 'Revenue').required">*</span>
                                    <div class="pull-right">
                                        <input type="number" min="0" class="form-control" ng-model="dealForm.profile['Revenue']" ng-required="getField('profile', 'Revenue').required"> (JPY)
                                    </div>
                                    <br/>
                                    <br/>
                                    <label>CM</label>
                                    <span style="color:red" ng-if="getField('profile', 'CM').required">*</span>
                                    <div class="pull-right">
                                        <input type="number" min="0" class="form-control" ng-model="dealForm.profile['CM']" ng-required="getField('profile', 'CM').required"> (JPY)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Duration (End)</label>
                                    <span style="color:red" ng-if="getField('profile', 'Duration (End)').required">*</span>
                                    <input type="date" class="form-control pull-right" ng-model="dealForm.profile['Duration (End)']" ng-required="getField('profile', 'Duration (End)').required">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AWS Resp (Dev)</label>
                                    <span style="color:red" ng-if="getField('profile', 'AWS Resp (Dev) person').required">*</span>
                                    <div class="pull-right">
                                        <select class="form-control pull-right" ng-model="dealForm.profile['AWS Resp (Dev) person']" ng-required="getField('profile', 'AWS Resp (Dev) person').required">
                                            <option value=""></option>
                                            <option>Get from Dev persons list</option>
                                        </select>
                                        <br/> /
                                        <br/>
                                        <select class="form-control pull-right" ng-model="dealForm.profile['AWS Resp (Dev) BU']" ng-required="getField('profile', 'AWS Resp (Dev) BU').required">
                                            <option value=""></option>
                                            <option>Get from Dev persons's BU list ???</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Remark</label>
                                    <span style="color:red" ng-if="getField('profile', 'Remark').required">*</span>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.profile['Remark']" ng-required="getField('profile', 'Remark').required">
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.profile track by field.id">
                                <td ng-if="$odd && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.profile[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.profile[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.profile[field.name]" ng-required="{{field.required}}">
                                            <option value=""></option>
                                            <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#processSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Process</h4>
            </div>
            <div id="processSection" class="collapse">
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <!-- blank row for matching the format -->
                                    <p></p>
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SRB No. (e.g. PS-0095)</label>
                                    <span style="color:red" ng-if="getField('process', 'SRB No').required">*</span>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.process['SRB No']" ng-required="getField('process', 'SRB No').required">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SRB Date</label>
                                    <span style="color:red" ng-if="getField('process', 'SRB Date').required">*</span>
                                    <input type="date" class="form-control pull-right" ng-model="dealForm.process['SRB Date']" ng-required="getField('process', 'SRB Date').required">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SRB Status</label>
                                    <span style="color:red" ng-if="getField('process', 'SRB Status').required">*</span>
                                    <select class="form-control pull-right" ng-model="dealForm.process['SRB Status']" ng-required="getField('process', 'SRB Status').required">
                                        <option value=""></option>
                                        <option ng-repeat="option in getField('process', 'SRB Status').options" value="{{option}}">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.process track by field.id">
                                <td ng-if="$even && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.process[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.process[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.process[field.name]" ng-required="{{field.required}}">
                                            <option value=""></option>
                                            <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>SOW Scheme</label>
                                    <span style="color:red" ng-if="getField('process', 'SOW Scheme').required">*</span>
                                    <select class="form-control pull-right" ng-model="dealForm.process['SOW Scheme']" ng-required="getField('process', 'SOW Scheme').required"
                                        ng-change="setContracts(dealForm.process['SOW Scheme'])">
                                        <option value=""></option>
                                        <option ng-repeat="option in getField('process', 'SOW Scheme').options" value="{{option}}">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SOW No. (e.g. AWS-2013-2575)</label>
                                    <span style="color:red" ng-if="getField('process', 'SOW No').required">*</span>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.process['SOW No']" ng-required="getField('process', 'SOW No').required">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SOW Date</label>
                                    <span style="color:red" ng-if="getField('process', 'SOW Date').required">*</span>
                                    <input type="date" class="form-control pull-right" ng-model="dealForm.process['SOW Date']" ng-required="getField('process', 'SOW Date').required">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SOW Status</label>
                                    <span style="color:red" ng-if="getField('process', 'SOW Status').required">*</span>
                                    <select class="form-control pull-right" ng-model="dealForm.process['SOW Status']" ng-required="getField('process', 'SOW Status').required">
                                        <option value=""></option>
                                        <option ng-repeat="option in getField('process', 'SOW Status').options" value="{{option}}">
                                            {{option}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.process track by field.id">
                                <td ng-if="$odd && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.process[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.process[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.process[field.name]" ng-required="{{field.required}}">
                                            <option value=""></option>
                                            <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#distributionSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Distribution</h4>
            </div>
            <div id="distributionSection" class="collapse">
                <div class="col-md-3">
                    <label>Input Starting Month:</label>
                    <input type="month" class="form-control" ng-model="startingMonthYear" ng-change="getCurrentFiscalYear()" />
                </div>
                <div ng-repeat="contract in contracts">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <th>MONTH</th>
                            <th>( {{contract}} )</th>
                            <th ng-repeat="monthYear in currentFiscalYear.slice(0, 6)">
                                {{monthYear}}
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Resource (MM):</b>
                                </td>
                                <td>
                                    <b>JP</b>
                                    <br/>
                                    <br/>
                                    <b>GD</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(0, 6)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].res.jp[monthYear]"
                                    />
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].res.gd[monthYear]"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Revenue (JPY):</b>
                                </td>
                                <td>
                                    <b>JP</b>
                                    <br/>
                                    <br/>
                                    <b>GD</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(0, 6)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].rev.jp[monthYear]"
                                    />
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].rev.gd[monthYear]"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>CM (JPY):</b>
                                </td>
                                <td>
                                    <b>ALL</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(0, 6)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].cm[monthYear]" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <th>MONTH</th>
                            <th>( {{contract}} )</th>
                            <th ng-repeat="monthYear in currentFiscalYear.slice(6, 12)">
                                {{monthYear}}
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Resource (MM):</b>
                                </td>
                                <td>
                                    <b>JP</b>
                                    <br/>
                                    <br/>
                                    <b>GD</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(6, 12)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].res.jp[monthYear]"
                                    />
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].res.gd[monthYear]"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Revenue (JPY):</b>
                                </td>
                                <td>
                                    <b>JP</b>
                                    <br/>
                                    <br/>
                                    <b>GD</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(6, 12)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].rev.jp[monthYear]"
                                    />
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].rev.gd[monthYear]"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>CM (JPY):</b>
                                </td>
                                <td>
                                    <b>ALL</b>
                                </td>
                                <td ng-repeat="monthYear in currentFiscalYear.slice(6, 12)">
                                    <input type="number" min="0" class="form-control pull-right" ng-model="dealForm.distribution[contract].cm[monthYear]" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <table class="table table-striped table-condensed table-hover">
                            <tr>
                                <th>Total</th>
                                <td>{{total[dealForm.process['SOW Scheme']].resource}} (MM)</td>
                                <td>{{total[dealForm.process['SOW Scheme']].revenue}} (JPY)</td>
                            </tr>
                            <tr>
                                <th>Average</th>
                                <td>{{total[dealForm.process['SOW Scheme']].average}}</td>
                                <td>(JPY/MM)</td>
                            </tr>
                            <tr>
                                <th>CM</th>
                                <td>{{total.cm}} (JPY)</td>
                                <td>(%)</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <div class="col-md-6 form-inline">
                            <table class="table table-hover">
                                <tbody>
                                    <tr ng-repeat="field in fields.distribution track by field.id">
                                        <td ng-if="$even">
                                            <label for="{{field.name}}"> {{field.name}} </label>
                                            <span style="color:red" ng-if="field.required">*</span>
                                            <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                                class="pull-right">
                                                <input type="{{field.type}}" class="form-control" ng-model="dealForm.distribution[field.name]" ng-required="{{field.required}}"
                                                />
                                            </div>
                                            <div ng-if="field.type === 'textarea'" class="pull-right">
                                                <!-- show text area -->
                                                <textarea ng-model="dealForm.distribution[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                            </div>
                                            <div ng-if="field.type ==='dropdown'" class="pull-right">
                                                <!-- show dropdown -->
                                                <select class="form-control" ng-model="dealForm.distribution[field.name]" ng-required="{{field.required}}">
                                                    <option value=""></option>
                                                    <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 form-inline">
                            <table class="table table-hover">
                                <tbody>
                                    <tr ng-repeat="field in fields.distribution track by field.id">
                                        <td ng-if="$odd">
                                            <label for="{{field.name}}"> {{field.name}} </label>
                                            <span style="color:red" ng-if="field.required">*</span>
                                            <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                                class="pull-right">
                                                <input type="{{field.type}}" class="form-control" ng-model="dealForm.distribution[field.name]" ng-required="{{field.required}}"
                                                />
                                            </div>
                                            <div ng-if="field.type === 'textarea'" class="pull-right">
                                                <!-- show text area -->
                                                <textarea ng-model="dealForm.distribution[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                            </div>
                                            <div ng-if="field.type ==='dropdown'" class="pull-right">
                                                <!-- show dropdown -->
                                                <select class="form-control" ng-model="dealForm.distribution[field.name]" ng-required="{{field.required}}">
                                                    <option value=""></option>
                                                    <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#statusSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Status</h4>
            </div>
            <div id="statusSection" class="collapse">
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Dependency</label>
                                    <span style="color:red" ng-if="getField('status', 'Dependency').required">*</span>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.status['Dependency']" ng-required="getField('status', 'Dependency').required">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Action</label>
                                    <span style="color:red" ng-if="getField('status', 'Action').required">*</span>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.status['Action']" ng-required="getField('status', 'Action').required">
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.status track by field.id">
                                <td ng-if="$even && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.status[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.status[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.status[field.name]" ng-required="{{field.required}}">
                                            <option value=""></option>
                                            <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Status</label>
                                    <span style="color:red" ng-if="getField('status', 'Status').required">*</span>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.status['Status']" ng-required="getField('status', 'Status').required">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Step to Close</label>
                                    <span style="color:red" ng-if="getField('status', 'Step to Close').required">*</span>
                                    <input type="text" class="form-control pull-right" ng-model="dealForm.status['Step to Close']" ng-required="getField('status', 'Step to Close').required">
                                </td>
                            </tr>
                            <tr ng-repeat="field in fields.status track by field.id">
                                <td ng-if="$odd && !field.default">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.status[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.status[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.status[field.name]" ng-required="{{field.required}}">
                                            <option value=""></option>
                                            <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <small>
                    <b>Note:</b> 1. If deal is via AWS JP, specify the amount of SOW with AWS JP. If it's a direct deal with
                    client, specify the amount of SOW with client exclusive of T&L (to measure the PH revenue and profit)
                </small>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#contentSection">
                    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>Content</h4>
            </div>
            <div id="contentSection" class="collapse">
                <textarea class="form-control" ng-model="dealForm.content['Main Message']"></textarea>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="field in fields.content track by field.id">
                                <td ng-if="$even">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.content[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.content[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.content[field.name]" ng-required="{{field.required}}">
                                            <option value=""></option>
                                            <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 form-inline">
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="field in fields.content track by field.id">
                                <td ng-if="$odd">
                                    <label for="{{field.name}}"> {{field.name}} </label>
                                    <span style="color:red" ng-if="field.required">*</span>
                                    <div ng-if="field.type === 'text' || field.type === 'number' || field.type === 'password' || field.type === 'email' || field.type === 'date'"
                                        class="pull-right">
                                        <input type="{{field.type}}" class="form-control" ng-model="dealForm.content[field.name]" ng-required="{{field.required}}"
                                        />
                                    </div>
                                    <div ng-if="field.type === 'textarea'" class="pull-right">
                                        <!-- show text area -->
                                        <textarea ng-model="dealForm.content[field.name]" class="form-control" ng-required="{{field.required}}" rows="4" cols="50"></textarea>
                                    </div>
                                    <div ng-if="field.type ==='dropdown'" class="pull-right">
                                        <!-- show dropdown -->
                                        <select class="form-control" ng-model="dealForm.content[field.name]" ng-required="{{field.required}}">
                                            <option value=""></option>
                                            <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</form>

<script>
    $('.collapse').on('shown.bs.collapse', function () {
        $(this).parent().find(".glyphicon-chevron-right").removeClass("glyphicon-chevron-right").addClass("glyphicon-chevron-down");
    }).on('hidden.bs.collapse', function () {
        $(this).parent().find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-right");
    });
</script>