<div>
    <button class="btn btn-primary" ui-sref="dealForm">New Deal</button>
</div>

<div class="form-inline pull-right">
    <!-- <label>Filter by: &nbsp;</label>
    <select class="form-control" ng-model="filter" ng-selected="console()">
        <option ng-repeat="option in filterOptions">{{option}}</option>
    </select> -->
    <label>Search: &nbsp;</label>
    <input type="text" class="form-control" ng-model="searchText">
</div>
<div class="form-inline pull-right">
    <label for="pageSize">Page size</label>
    <input id="pageSize" type="number" ng-model="pageSize" class="form-control" min="1" max={{allDeals.length}}> 
</div>
<table class="table">
    <thead>
        <th ng-repeat="field in allFieldName" ng-if="field.showInList" ng-click='sortColumn(field.category + " " + field.name)' ng-class='sortClass(field.category + " " + field.name)' class="cutOverflow">
            {{field.name}}
        </th>
        <!--<th ng-repeat="essentialField in fields.essential" ng-if="essentialField.showInList"  ng-click='sortColumn(essentialField.name)' ng-class='sortClass(essentialField.name)' class="cutOverflow">
            {{essentialField.name}}
        </th>
        <th ng-repeat="profileField in fields.profile" ng-if="profileField.showInList"  ng-click='sortColumn(profileField.name)' ng-class='sortClass(profileField.name)' class="cutOverflow">
            {{profileField.name}}
        </th>
        <th ng-repeat="processField in fields.process" ng-if="processField.showInList"  ng-click='sortColumn(processField.name)' ng-class='sortClass(processField.name)' class="cutOverflow">
            {{processField.name}}
        </th>
        <th ng-repeat="distributionField in fields.distribution" ng-if="distributionField.showInList"  ng-click='sortColumn(distributionField.name)' ng-class='sortClass(distributionField.name)' class="cutOverflow">
            {{distributionField.name}}
        </th>
        <th ng-repeat="statusField in fields.status" ng-if="statusField.showInList"  ng-click='sortColumn(statusField.name)' ng-class='sortClass(statusField.name)' class="cutOverflow">
            {{statusField.name}}
        </th>
        <th></th>-->
    </thead>
    <tbody>
        <tr ng-repeat="deal in noCategoryDeal | orderObjectBy : column : reverse  | pagination: (currentPage - 1) * pageSize | limitTo: pageSize " class="cutOverflow">
            <td ng-repeat="field in allFieldName" ng-if="field.showInList">
                <div ng repeat="this in deal">
                {{deal[field.category + ' ' + field.name]}}
                </div>
            </td>
            <!--<td ng-repeat="essentialField in fields.essential" ng-if="essentialField.showInList">
                {{(essentialField.name === 'ID') ? deal.ID : deal.essential[essentialField.name]}}
            </td>
            <td ng-repeat="profileField in fields.profile" ng-if="profileField.showInList">
                {{deal.profile[profileField.name]}}
            </td>
            <td ng-repeat="processField in fields.process" ng-if="processField.showInList">
                {{deal.process[processField.name]}}
            </td>
            <td ng-repeat="distributionField in fields.distribution" ng-if="distributionField.showInList">
                {{deal.distribution[distributionField.name]}}
            </td>
            <td ng-repeat="statusField in fields.status" ng-if="statusField.showInList">
                {{deal.status[statusField.name]}}
            </td>-->
            <td>
                <div class="pull-right">
                    <a style="cursor:pointer">
                        <i class="fa fa-list-alt" aria-hidden="true" ui-sref="dealForm({ID: deal.ID})" data-toggle="tooltip" title="View"></i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<ul class="pagination" uib-pagination total-items="dealsLength" ng-model="currentPage" items-per-page="pageSize" boundary-links="true" max-size="4" force-ellipses="true" first-text="<<" previous-text="<" next-text=">" last-text=">>"></ul>